Flask
Flask-Login
Flask-Bcrypt
Flask-SQLAlchemy
Werkzeug
gunicorn
itsdangerous
jinja2
markupsafe

python-dotenv
google-generativeai
PyMuPDF
pdfminer.six
python-docx

selenium
webdriver-manager

keybert
scikit-learn
sentence-transformers

pandas
numpy
requests
beautifulsoup4

openai  # Optional if using OpenAI-based features
